:root {
  --font-content: 'Inter', sans-serif;
  --font-heading: var(--font-content);
  --font-mono: 'Source Code Pro', monospace;
  --fw-heading: bold;
}

body {
  font-family: var(--font-content);
}

h1,
h2,
h3,
h4,
h5,
h6 .h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: var(--font-heading);
  font-weight: var(--fw-heading);
}

code,
kbd,
pre,
samp {
  font-family: var(--font-mono);
}
