:root {
    --font-content: -apple-system, BlinkMacSystemFont, "Inter", "IBM Plex Sans", Segoe UI, Helvetica, Arial,
    sans-serif;
    --font-mono: IBM Plex Mono, monospace;
    --fw-heading: bold;
}

body {
  font-family: var(--font-content)
}

h1, h2, h3, h4, h5, h6
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: var(--fw-heading)
}

code, kbd, pre, samp {
  font-family: var(--font-mono)
}
